# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/

# --- Node ---
# Dependencies
node_modules/

# Lockfiles
pnpm-lock.yaml
bun.lock

# --- Python ---
# Dependencies
.venv/
__pycache__/

# --- Tools / Bundlers ---
# Rspack / Rslib
.rslib/

# DNSControl
creds.json
creds.*.json
config/zones/

# MKDocs
.cache/

# --- Build artifacts ---
# Compiled output
dist/

# Generated docs
docs/build/
