/packages/zones/data/floof.fans/@.yaml @kasefuchs
/packages/zones/data/floof.fans/kasefuchs.yaml @kasefuchs
/packages/zones/data/floof.fans/krabi.yaml @krabiworld
/packages/zones/data/floof.fans/wayment.yaml @whymentt